<mat-table id="stats-table" *ngIf="playerHittingStatistics[currentSeason]" cellpadding="8"
  class="mat-elevation-z8" [dataSource]="dataSource" matSort>
  <ng-container *ngFor="let statisticKey of playerHittingStatistics | playerStatisticsToStatisticKeys:currentSeason"
    [matColumnDef]="statisticKey">
    <mat-header-cell *matHeaderCellDef mat-sort-header 
      [start]="determineInitialSortOrderForStatistic(statisticKey)"
      (click)="changeSelectedStatistic(statisticKey)">{{statisticKey}}</mat-header-cell>
    <mat-cell *matCellDef="let element">{{element[statisticKey]}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="playerHittingStatistics | playerStatisticsToStatisticKeys:currentSeason"></mat-header-row>
  <mat-row *matRowDef="let row; columns: playerHittingStatistics | playerStatisticsToStatisticKeys:currentSeason;"></mat-row>
</mat-table>