<table id="key-table" cellpadding="5">
    <thead>
        <tr>
            <th>Key</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>G - Games</td>
            <td>AB - At Bats</td>
            <td>R - Runs</td>
        </tr>
        <tr>
            <td>H - Hits</td>
            <td>2B - Doubles</td>
            <td>3B - Triples</td>
        </tr>
        <tr>
            <td>HR - Homeruns</td>
            <td>RBI - Runs Batted In</td>
            <td>BB - Base on Balls</td>
        </tr>
        <tr>
            <td>SO - Strikeouts</td>
            <td>SB - Stolen Bases</td>
            <td>CS - Caught Stealing</td>
        </tr>
        <tr>
            <td>AVG - Average</td>
            <td>OBP - On-Base Percentage</td>
            <td>SLG - Slugging Percentage</td>
        </tr>
        <tr>
            <td>OPS - On-Base Plus Slugging</td>
            <td>IBB - Intentional Walks</td>
            <td>HBP - Hit By Pitch</td>
        </tr>
        <tr>
            <td>SAC - Sacrifice Bunts</td>
            <td>SF - Sacrifice Flys</td>
            <td>TB - Total Bases</td>
        </tr>
        <tr>
            <td>XBH - Extra Base Hits</td>
            <td>GDP - Grounded Into Double Play</td>
            <td>GO - Ground Outs</td>
        </tr>
        <tr>
            <td>AO - Fly Outs</td>
            <td>GO_AO - Ground Outs Per Fly Out</td>
            <td>PA - Plate Appearances</td>
        </tr>
    </tbody>
</table>  