table {
    border: 3px black solid;
    border-collapse: collapse;
    text-align: left;
    width: 50%;
}

th {
    border-bottom: 2px black solid;
    background-color: lightgray;
}

td {
    border: 1px black solid;
    position: relative;
}

