img {
  height: auto;
  border-radius: 10%;
  width: 100%;
  max-width: 100px;
}

@media (min-width:601px){
  img {
    margin-left: 1%;
  }
}

@media (max-width:600px) {
  img {
    margin-left: 5%;
  }
}

