a { 
  text-decoration: none;
}

.spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  padding-left: 0;
}

.mat-toolbar > a.mat-button {
  font-size: larger;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-sidenav {
  width: 12.5rem;
}

mat-sidenav button {
  float: right;
}

mat-sidenav h4 {
  font-size: x-large;
  padding: 0.563rem 1rem;
}

mat-sidenav a {
  display: block;
}