<mat-toolbar color="primary">
  <a mat-button routerLink="/" (click)="toggleSidenav()">Saints</a>
  <span class="spacer"></span>
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav position="end" [(opened)]="sidenavOpened">
    <button mat-icon-button (click)="toggleSidenav()" title="Close Menu">
      <mat-icon>close</mat-icon>
    </button>
    <h4>
      <b>Menu</b>
    </h4>
    <a mat-stroked-button routerLink='/statistics' (click)="toggleSidenav()">Statistics</a>
    <a mat-stroked-button routerLink='/players' (click)="toggleSidenav()">Players</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <social-media-shell></social-media-shell>
    <sponsor></sponsor>
  </mat-sidenav-content>
</mat-sidenav-container>