<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5 w3-animate-right">
  <button (click)="closeSidebar()" class="w3-right w3-xlarge w3-padding-large w3-hover-black" title="Close Menu">
    <i class="fa fa-remove"></i>
  </button>
  <h4 class="w3-bar-item">
    <b>Menu</b>
  </h4>
  <a class="w3-bar-item w3-button w3-hover-black" routerLink='/statistics' (click)="closeSidebar()">Statistics</a>
  <a class="w3-bar-item w3-button w3-hover-black" routerLink='/players' (click)="closeSidebar()">Players</a>
</nav>
