<h1>{{title}}</h1>

<statistics-selector
  [playerHittingStatistics]="playerHittingStatistics$ | async"
  [playerPitchingStatistics]="playerPitchingStatistics$ | async"
  [currentSeason]="currentSeason$ | async"
  [selectedStatisticsGroup]="selectedStatisticsGroup$ | async"
  [selectedStatisticsType]="selectedStatisticsType$ | async"
  (seasonChanged)="changeSeason($event)"
  (statisticsGroupChanged)="changeStatisticsGroup($event)"
  (statisticsTypeChanged)="changeStatisticsType($event)"
></statistics-selector>

<div></div>
<br>

<statistics-table
  [playerHittingStatistics]="playerHittingStatistics$ | async"
  [playerPitchingStatistics]="playerPitchingStatistics$ | async"
  [currentSeason]="currentSeason$ | async"
  [selectedStatisticsGroup]="selectedStatisticsGroup$ | async"
  [selectedStatisticsType]="selectedStatisticsType$ | async"
></statistics-table>
