<mat-button-toggle-group 
  [formControl]="selectedStatisticsTypeControl"
  (change)="changeSelectedStatisticsType($event.value)"
  id="statistic-types"
>
  <mat-button-toggle value="hitting">Hitting</mat-button-toggle>
  <mat-button-toggle value="pitching">Pitching</mat-button-toggle>
</mat-button-toggle-group>

<br>

<mat-form-field>
  <mat-label>Season</mat-label>
  
  <mat-select 
    *ngIf="selectedStatisticsType === 'hitting'"
    [(value)]="currentSeason" 
    (selectionChange)="changeSeason($event.value)"
  >  
    <mat-option 
      *ngFor="let seasonName of playerHittingStatistics | statisticsToSeason"
      [value]="seasonName">{{seasonName}}</mat-option>
  </mat-select>

  <mat-select 
    *ngIf="selectedStatisticsType === 'pitching'"
    [(value)]="currentSeason" 
    (selectionChange)="changeSeason($event.value)"  
  >
    <mat-option 
      *ngFor="let seasonName of playerPitchingStatistics | statisticsToSeason"
      [value]="seasonName">{{seasonName}}</mat-option>
  </mat-select>
</mat-form-field>

<br>

<mat-button-toggle-group 
  *ngIf="currentSeason" 
  [formControl]="selectedStatisticsGroupControl" 
  (change)="changeSelectedStatisticsGroup($event.value)"
  id="statistic-groups"
>
  <mat-button-toggle value="standard">Standard</mat-button-toggle>
  <mat-button-toggle value="advanced">Advanced</mat-button-toggle>
</mat-button-toggle-group>