<mat-form-field>
  <mat-label>Season</mat-label>
  <mat-select [(value)]="currentSeason" (selectionChange)="changeSeason($event.value)">
    <mat-option *ngFor="let seasonName of playerHittingStatistics | statisticsToSeason"
      [value]="seasonName">{{seasonName}}</mat-option>
  </mat-select>
</mat-form-field>

<br>

<mat-button-toggle-group 
  *ngIf="currentSeason" 
  [formControl]="selectedStatisticsGroupControl" 
  (change)="changeSelectedStatisticsGroup($event.value)">
  <mat-button-toggle value="standard">Standard</mat-button-toggle>
  <mat-button-toggle value="expanded">Advanced</mat-button-toggle>
</mat-button-toggle-group>