<mat-list>
  <mat-list-item 
    *ngFor="let player of statsForEachPlayer | sortMapByKeyAlphabeticallyPipe"
    (click)="selectPlayer(player)"
  >{{player}}</mat-list-item>
</mat-list>

<!-- <div class="modal" *ngIf="showPlayerStatsModal">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>{{modalHeader}}</h2>
    <table>
      <thead>
        <tr>
          <th *ngFor="let statsKey of modalTableHeader">{{statsKey}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let statsForOneSeason of modalTableBody">
          <td *ngFor="let statistic of statsForOneSeason">{{statistic}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
